* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

[class^="view-"] {
    background-color: grey;
    color: white;
    text-decoration: none;
    display: flex;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    font-size: 0.8rem;
}

.nav-container-view {
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-end;
    background-color: black;
}

.main-video-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 50px;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-between;
    min-width: 90vh;
}

.card-video {
    flex-basis: calc((100% - 10px * 6) / 7);
    position: relative;
    padding-top: 20px;
}

.info-profile {
    background-color: rgb(103, 115, 125, 0.8);
    color: white;
    position: absolute;
    bottom: 4px;
    left: 0;
    padding: 3px 10px;
    font-size: 0.7rem;
}